CHANJING_APP_ID=
CHANJING_SECRET_KEY=
CHANJING_API_BASE_URL=https://open-api.chanjing.cc
CHANJING_API_BASE_PATH=/open/v1
CHANJING_ACCESS_TOKEN_HEADER=access_token
CHANJING_DEFAULT_MODEL=0
CHANJING_DEFAULT_SCREEN_WIDTH=1080
CHANJING_DEFAULT_SCREEN_HEIGHT=1920
CHANJING_TOKEN_EXPIRE_MARGIN_SECONDS=300
